/*
Name: CHOICE	
Design Studio: Obox Design http://www.obox-design.com/
Version: 1.0
Author: Obox Design
Author URI: http://www.obox-design.com/
*/

@import url(http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin);
@import url(/themes/choice/font.css);

/*--------------------------------------------------------------------------------------------------------------------------*/
/*- RESET - Courtesy of Eric Meyer's CSS Reset Awesomeness: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ ---*/
/*--------------------------------------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {outline: 0;}
body {color: black; background: white;}
ol, ul {list-style: none;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {text-align: left;font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}


/*-------------------------------------------------------------------------------------------*/
/*- SETUP STD CLASSES -----------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

body{background: #f5f5f5; font-family: "Droid Sans", Arial, Helvetica, sans-serif; font-size: 13px; color: #595959; line-height: 1.6em;}

h1, h2, h3, h4, h5, h6{margin: 0px 0px 5px; padding: 0px 0px 5px; color: #999; font-weight: lighter; font-family: "Droid Sans", Arial, Helvetica, sans-serif;}
p{margin: 0px 0px 10px;}

textarea, input{font-family: "Droid Sans", Arial, Helvetica, sans-serif; font-size: 13px;}

input[type=button]{padding: 8px;}


/*-------------------------------------------------------------------------------------------*/
/*- GLOBAL CLASSES --------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*--- Links ---*/
a{color: #F85931; text-decoration: none;}
a:hover{color: #000;}
	
/*--- Layouts ---*/
.no_bg{background-image: none;}
.clearboth{clear: both}
.floatleft{float: left;}
.floatright{float: right;}
.floatright{float:right;}
.no_display{display: none;}

.alignleft{float: left; margin: 0px 20px 10px 0px;}
.alignright{float: right; margin: 0px 0px 10px 20px;}
.aligncenter{text-align: center;}

u{text-decoration: underline;}
strong{font-weight: bold;}
em{font-style: italic;}


/*-------------------------------------------------------------------------------------------*/
/*- GENERAL LAYOUT --------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
#header-container{padding: 20px 0px 20px; background: #2F3035; border-bottom: 1px solid #000;}
	#header{width: 820px; margin: 0px 0px 0px 40px;}

#container{width: 880px; padding: 40px 0px; list-style: none !important; /*background: url(images/grid.png) 40px 0px repeat-y;*/}
	#left-column{float: left; width: 520px; margin-left: 40px; list-style: none !important;}
	#right-column{float: right; width: 240px; list-style: none !important;}
	
#footer-container{padding: 40px 0px; background: #2F3035; border-top: 1px solid #000;}
	#footer{width: 820px; margin: 0px 0px 0px 40px;}

/*-------------------------------------------------------------------------------------------*/
/*- HEADER ----------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

h1.site-name{padding: 0px; margin: 0px 0px 10px; font-size: 40px; line-height: 40px; font-family: "Lobster", arial, serif; position: relative;}
	h1.site-name a{color: #fff; position: relative;}
	
p.site-description{font-size: 15px; width: 520px; line-height: 1.4em; color: #999;}

/*-------------------------*/
/*- ABOUT DATA ------------*/
.author-image{float: left; display: block; width: 75px; height: 75px; margin: 0px 15px 0px 0px; position: relative;}
	.author-image img{position: relative; z-index: 1;}
	.author-image span{display: block; height: 75px; width: 75px; background: url(images/layout/author-overlay.png) top no-repeat; position: absolute; top: 0px; z-index: 2;}
	

/*---------------------*/
/*- PAGES (MENU) ------*/
#pages-container{padding: 10px 0px; background: #fff; border-bottom: 1px solid #ccc; overflow: auto;}
	#pages{width: 820px; margin: 0px 0px 0px 40px;}
	#pages ul, #pages li{list-style: none !important; font-size: 12px; line-height: 20px;}
		#pages li{float: left; margin: 0px 10px 0px 0px;}
			#pages li a{color: #595959; padding: 5px 8px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
			#pages li a:hover{color: #fff; background: #F85931;}


/*-------------------------------------------------------------------------------------------*/
/*- POST CONTENT ----------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

.post-list{width: 540px; margin: 0px;}
	.post-list li.post-item{margin-bottom: 0px;}


	/*-------------------------*/
	/*- TITLES ----------------*/
	.title-block{clear: both;}
		h5.comments{float: left; width: 30px; height: 27px; padding: 2px 0px 0px; margin: 0px 10px 0px 0px; text-align: center; font-size: 11px;
					background: url(images/layout/sprite.png) 0px 0px no-repeat; color: #fff; text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);}
			h5.comments a{color: #fff;}
		h5.date{padding-top: 1px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);}
		h3.title{clear: both; margin: 40px 0px 30px; line-height: 1em; font-size: 47px; text-transform: uppercase; color: #333;
					font-family: "LeagueGothicRegular", "Droid Sans", Arial, Helvetica, sans-serif;}
			h3.title a{color: #333;}
			h3.title a:hover{color: #F85931;}
	
	
	/*-------------------------*/
	/*- POST CONTENT ----------*/
	.post-content{width: 520px; padding: 0px 0px 30px 0px; margin-bottom: 40px; border-bottom: 3px solid #ccc; position: relative;}
	
		/*-------------------------*/
		/*- EDIT BOX --------------*/
		.editbox{width: 220px; position: absolute; top: -147px; right: 0px;}
		ul.mini_commands{visibility: hidden; position: relative; top: 0px; left: 0px; padding: 0px; margin: 0px; list-style: none;}
			ul.mini_commands li{float: left; padding: 0px; margin-right: 6px; color: #999;}
				ul.mini_commands li a{padding: 3px 6px; background: none; color: #999; text-shadow: 0px 1px 0px rgba(255, 255, 255, 1); font-size: 12px !important; text-align: left; line-height: 20px;
										-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
				ul.mini_commands li a:hover{background: #F85931; color: #fff; text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);}
		li.post-item:hover ul.mini_commands{visibility: visible;}
	

		/*-------------------------------------------*/
		/*- RESET SOME CLASSES FOR THE CONTENT COPY -*/
		.copy p{clear: none;}
		.copy ol, .copy ul{list-style: disc; margin: 0px 0px 10px 14px;}
			.copy ol li, .copy ul li{padding-bottom: 0px; line-height: 1.8em;}
		.copy ol{list-style: decimal;}
		.copy code, .copy pre{}
		.copy img{padding: 10px; background: #fff;
					-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
					-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
					box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}
		.copy h2{line-height: 35px; margin-top: 20px;}
		.copy h3{margin-top: 20px; padding: 0px 0px 5px; margin-bottom: 0px 0px 5px;}
		.copy h4{font-weight: bold;}
		.copy blockquote p{width: 440px; padding: 5px 0px 5px 16px; margin: 20px 0px 20px 0px; border-left: 4px solid #ccc; color: #595959; font-size: 14px; line-height: 1.6em;
												font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;}
						

	/*-------------------------*/
	/*- SOCIAL ----------------*/
	.social{padding: 3px; overflow: auto; background: #fff; list-style: none !important;
					-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
					-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
					box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}
		.social li{float: left; padding: 0px !important; margin: 0px 10px 0px 0px !important; list-style: none !important;}
		.social li:last-child{margin-bottom: 0px;}
			.social li.views{font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif; font-size: 11px;}
				.social li.views div{display: inline; margin-right: 2px;}
			.social li iframe{float: left;}
			.posterous_retweet_widget{overflow: hidden; padding: 0px !important; margin: 0px !important;}


	/*-------------------------*/
	/*- PAGINATION ------------*/
	.pagination {clear: both;  width: 520px; padding: 0px; overflow: auto; background: #fff;
														-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
														-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
														box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}
		.pagination span, .pagination a{float: left; display: block; margin: 0px 1px 0px 0px; padding: 7px 10px; font-weight: bold; color: #333; line-height: 13px;}
		.pagination .current, .pagination a:hover{background: #F85931; color: #fff;}
		.pagination .disabled{color: #888;}


/*-------------------------------------------------------------------------------------------*/
/*- COMMENTS CLASSES ------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

.comments-container{clear: both; width: 520px; padding: 0px !important; margin: 0px !important; position: relative;}
	.comments-index-container{background: #fbfbfb; padding: 0px 0px 0px 0px !important; margin: 0px; border: none;}
	.comments-container:hover ul.mini_commands{visibility: visible;}
	.comments-container h4{padding: 0px !important; margin: 0px 0px 10px !important; font-size: 18px !important; font-weight: bold; color: #333 !important;}
	.comments-container h4.comment-title{padding: 0px 0px 10px !important; height: 20px;}
	.comments-container h4.comment-title span{float: left; display: block;}
	.comments-container h4.comment-title a{display: none;}


		.commentunit{clear: both; padding: 0px 0px 10px !important; margin: 0px 0px 20px !important; position: relative; border-bottom: 1px solid #ccc; overflow: auto;}
		.commentunit .comment_label .comment_date{position: absolute; right: 0px; top: 0px; font-size: 10px; color: #999; text-align: left; font-family: Arial, Helvetica, sans-serif; text-transform: uppercase;}
		.commentunit .comment_label .comment_avatar{float: left; display: block; width: 35px; padding: 0px; margin: 0px 0px;}
		.commentunit .comment_label .comment_avatar img{display: block; width: 36px; padding: 2px; background: #fff;
														-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
														-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
														box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}

		.commentunit .commentname{clear: both; font-weight: lighter; padding: 0px; margin: 0px 0px 5px; font-size: 13px;}
		.commentunit .comment{float: right; width: 460px; padding: 0px; margin-bottom: 15px; text-align: left !important; line-height: 22px;}
		.commentunit .comment{font-size: 13px;}
		.commentunit .comment p{clear: both;}
		
		.commentunit .mini_commands{clear: both; float: none; display: none; padding: 10px 0px; margin: 30px auto 0px; border-top: 1px dotted #ccc; font-size: 10px; text-align: right; text-transform: uppercase; line-height: 20px;}
		.commentunit .mini_commands li{color: #999; padding: 0px 0px; float: left; margin-right: 20px;}
		.commentunit .mini_commands li a{color: #999;}
		.commentunit .mini_commands li a:hover{color: #000;}
	
	
		/*-------------------------------------------------------------------------------------------*/
		/*- LEAVE A COMMENT -------------------------------------------------------------------------*/
		/*-------------------------------------------------------------------------------------------*/
		.leave-a-comment{clear: both; padding-bottom: 20px; margin-bottom: 30px; line-height: 20px; border-bottom: 3px solid #ccc;}
			.leave-a-comment .commentunit{border: none !important;}
			.comment_login_buttons a{display: inline-block; margin: 5px 10px 0px 0px;}
			form .commentunit{border: none !important; margin: 0px 0px 5px !important; overflow: auto; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
			.leave-a-comment .comment_spacer{display: none;}
			.leave-a-comment .comment_label{float: none !important; width: 250px !important; padding: 0px 0px 5px !important; text-align: left !important; font-weight: bold !important; font-size: 13px; color: #595959;}
			.leave-a-comment .comment_value{clear: both !important; margin: 0px !important;}
			
			.comment_value input[type=text]{width: 350px; padding: 5px !important; background: #fff !important; border: none !important;
														-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
														-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
														box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}
			.comment_value textarea{width: 500px; height: 100px; padding: 10px !important; margin-bottom: 10px !important; background: #fff !important; border:  none !important; line-height: 20px !important;
														-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
														-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
														box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}
			.comment_value input[type=checkbox]{clear: both; width: 20px !important; text-align: left; line-height: 1em;}
			.posterous_external_site_label, .email_notify_label{font-size: 10px; color: #777; text-align: left; font-family: Arial, Helvetica, sans-serif; text-transform: uppercase;}
			
			.comment_value input[type=submit]{clear: both; display: inline-block; width: auto !important; padding: 6px;  background: #F85931 !important; border: none !important;
												font-weight: bold; font-size: 12px; cursor: pointer; color: #fff;
												-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
												-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
												box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}
			.comment_value input[type=submit]:hover{background: #333 !important; color: #fff; text-shadow: 0px 1px 0pt rgba(0, 0, 0, 0.30); text-transform: none;}
			.post-to-facebook{display: block; padding: 5px 5px 5px 0px; margin: 10px 0px; color: #ccc; font-size: 12px; font-style: italic;}
			.submit-comment{padding: 2px 5px; clear: both; font-size: 12px;}


		/*-------------------------------------------------------------------------------------------*/
		/*- LOGGED - IN LEAVE A COMMENT -------------------------------------------------------------*/
		/*-------------------------------------------------------------------------------------------*/
		.leave-a-comment .comment_profile_description{float: left; margin: 3px 0px 0px 5px; font-weight: lighter;}
		.leave-a-comment .comment_profile_icon{float: left; display: block; width: 35px; padding: 0px; margin: 0px 0px;}
		.leave-a-comment .comment_profile_icon img{display: block; width: 36px; padding: 2px; background: #fff;
												-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
												-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
												box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}
		.leave-a-comment .comment_profile_description a{font-weight: lighter; font-size: 12px;}


/*-------------------------------------------------------------------------------------------*/
/*- RIGHT COLUMN ----------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
	#right-column{padding-top: 70px; font-size: 12px;}	
	#right-column ul li.clearfix{margin-bottom: 40px;}
	#right-column ul ul{clear: both;}
	#right-column ul li {list-style: none !important;}
	#right-column ul ul li{padding: 5px 0px; border-bottom: 1px dotted #ccc; list-style: none !important;}
	#right-column h4{padding: 0px 0px 3px !important; margin: 0px 0px 5px !important; font-size: 14px !important; font-weight: bold; color: #333 !important; border-bottom: 2px solid #ccc;
					-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
					-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
					box-shadow: 0px 1px 0px rgba(255, 255, 255, 1);}
	#right-column a{color: #545454;}
	#right-column a:hover{color: #000;}
	

	/*---------------------*/
	/*- CONTRIBUTORS ------*/
	.contributors{}
	.contributors a{display: block; width: 26px; height: 26px; margin: 0px 5px 5px 0px; position: relative;}
	.contributors a span{display: block; width: 26px; height: 26px; background: url(images/layout/sprite.png) 0px -90px no-repeat; position: absolute; z-index: 2;}
	.contributors img{width: 26px; height: auto; position: relative; z-index: 1;}
			
	
	/*---------------------*/
	/*- LINKS -------------*/
	.list ul, .list li{list-style: none !important;}
	.list li{padding-left: 20px !important; background: url(images/layout/sprite.png) -486px -46px;}
	
	
	/*---------------------*/
	/*- TAGS --------------*/
	#right-column .tags ul{clear: both;}
	#right-column .tags ul, .tags li{list-style: none !important;}
	#right-column .tags ul li{float: left; padding: 0px 0px 0px 18px !important; margin: 0px 10px 10px 0px; background: url(images/layout/sprite.png) -486px 3px no-repeat; border: none;}
	#right-column .tags ul li a{background: none;}


	/*---------------------*/
	/*- ARCHIVES ----------*/
	#right-column .archive ul li:last-child{border-bottom: none;}
	
	
	/*----------------------------*/
	/*- SEARCH FORM --------------*/
	.search-form{clear: both; margin: 10px 0px 0px;}
	.search-form input[type=text]{float: left; width: 170px; padding: 5px; background: #fff; border: none; color: #333;
									font-weight: bold; font-size: 13px;
									-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
									-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
									box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}
	.search-form input[type=submit]{float: right; padding: 5px 3px; background: #F85931; border: none;
									font-weight: bold; font-size: 12px; color: #fff;
									-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
									-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
									box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}
	.search-form input[type=submit]:hover{background: #333; color: #fff;}
	.search-sorter{clear: both; margin-top: 10px;}


	/*-------------------------*/
	/*- COPYRIGHT -------------*/
	.copyright{text-align: center;}


/*-------------------------------------------------------------------------------------------*/
/*- FOOTER ----------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

	/*----------------------------*/
	/*- INFO COLUMNS -------------*/
	.three-column{clear: both; padding: 0px; margin: 0px; color: #999;}
	.three-column li.column{float: left; display: block; width: 240px; margin-right: 40px;}
	.three-column li.column:last-child{margin-right: 0px;}
	.three-column .column h4, .three-column .column h4 a{margin-bottom: 5px; padding-bottom: 0px; font-size: 13px; color: #fff; font-weight: bold;}
	.three-column .column h4 a:hover{color: #009989;}
	
	.three-column li.column ul{margin: 5px 0px 10px;}
	.three-column li.column ul li{clear: both; padding: 3px 0px; border-bottom: 1px dotted #444;}
	.three-column li.column a{color: #ccc;}
	.three-column li.column a:hover{color: #fff;}
	
	.social-bookmarks{overflow: auto; margin-bottom: 10px;}
	

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*- CLEARFIX --- * I prefer not to touch this code, I don't recommend you do so either, it works... so don't fix whats working ;) * -*/
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{background: none; border: 0; clear: both; display: block; float: none; font-size: 0; list-style: none;	margin: 0; padding: 0; overflow: hidden; visibility: hidden; width: 0; height: 0;}

/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after{clear: both; content: '.'; display: block; visibility: hidden; height: 0;}
.clearfix{display: inline-block;}
* html .clearfix{height: 1%;}
.clearfix{display: block;}


/*-------------------------------------------------------------------------------------------*/
/*- POSTEROUS ITEMS CUSTOMIZED --------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
.posterousPrivateBox{position: absolute; top: 10px; left: 10px; z-index: 10; font-size: 10px;}
	.posterousPrivateBox div{clear: both; float: none; margin: 0px !important;}
	.posterousPrivateBox div a{display: block; cursor: pointer; position: relative; z-index: 11; color:#777; text-shadow: none;}
		.posterousPrivateBox div a:hover{color:#fff;}
		
	/*----------------------------*/
	/*- GALLERY ------------------*/
	.posterousGalleryNavigationDiv{margin: 0px 0px 5px 0px !important;}
		.posterousGalleryNavigationDiv img{padding: 2px; margin: 0px;}
		.galleryLabel{padding: 2px; margin-left: 5px; color: #888;}
		
	.posterousGalleryThumbnailsDiv{padding: 6px 6px 0px 6px; margin: 0px 0px 10px 0px !important; overflow: auto; background: #fff;
									-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
									-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
									box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);}
	.posterousGalleryThumbnailsDiv img{display: block; float: left; padding: 0px; margin: 0px 10px 6px 0px; background: none; border: 3px solid #fff;
									-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
	.gallerySelectedImage{border: none !important; margin: 0px !important;}
		.gallerySelectedImage img{border-color: #333;}
		
	a.posterousGalleryMainlink span.show{bottom: 19px !important; left: -23px !important; right: 17px !important;}

	/*----------------------------*/
	/*- FAVE BUTTON --------------*/
	.fav_mouseover, div.fav_star{z-index: 10 !important; margin-top:  -40px !important;}
	
	
		
