<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="tiernano, Tiernan OToole, GitHub" />
<meta name="description" content="Tiernan OTooles GitHub homepage" />
<meta http-equiv="content-type" content="text/html; charset=windows-1252" />
<title>tiernano.github.com: Git Push blog</title>
<link href="/style.css" rel="stylesheet" type="text/css" media="screen" />
<style type="text/css">
</style>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1>Tiernans GitHub HomePage</h1>
				<p>Yup... another blog...</p>
			</div>
			<div id="menu">
				<ul>
					<li><a href="http://tiernano.github.com">Blog Home</a></li>
					<li><a href="http://photos.geekphotographer.com">Photos</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div id="content">
			<div class="post">
				{{ content }}
			</div>
			<div id="about">
				<h2>About Text</h2>
				<p>toDo!</p>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyright (c) 2011 <a href="http://blog.lotas-smartman.net">Tiernan OToole</a></p>
</div>
<!-- end #footer -->
</body>
</html>
