<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="tiernano, Tiernan OToole, GitHub" />
<meta name="description" content="Tiernan OTooles GitHub homepage" />
<meta http-equiv="content-type" content="text/html; charset=windows-1252" />
<title>$: git push blog</title>
<link rel="stylesheet" type="text/css" href="http://www.webputty.net/css/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRj8-hsM" />
<script type="text/javascript">(function(w,d){if(w.location!=w.parent.location||w.location.search.indexOf('__preview_css__')>-1){var t=d.createElement('script');t.type='text/javascript';t.async=true;t.src='http://www.webputty.net/js/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRj8-hsM';(d.body||d.documentElement).appendChild(t);}})(window,document);</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-220614-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1>Tiernans GitHub HomePage</h1>
				<p>Yup... another blog...</p>
			</div>
			<div id="menu">
				<ul>
					<li><a href="http://tiernano.github.com">Blog Home</a></li>
					<li><a href="/about.html">About</a></li>
					<li><a href="http://tiernano.github.com/atom.xml">Atom Feed</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div id="content">
			<div class="post">
				{{ content }}
			</div>
			<div id="about">
				<h2>About Text</h2>
				<p>Geek, From Dublin, Ireland. What more can i say?</p>
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
					<li><a href="http://tiernano.github.com">Blog Home</a></li>
                                        <li><a href="http://tiernano.github.com/archive.html">Archive</a></li>
					<li><a href="/about.html">About</a></li>
                                        <li><a href="http://photos.geekphotographer.com">Photos</a></li>
                                        <li><a href="http://blog.lotas-smartman.net">My Other Blog</a></li>
                                        <li><a href="http://miniblog.tiernanotoole.ie">Micro Blog</a></li>
                                        <li><a href="http://twitter.com/tiernano">My Twitter page</a></li>

			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyright (c) 2011 <a href="http://blog.lotas-smartman.net">Tiernan OToole</a></p>
</div>
<!-- end #footer -->
</body>
</html>
