---
layout: default
description: A description about my blog homepage
---

<div class="post-list">
	{% for post in page.posts %}
    <div class="post-item">
      <div class="post-info">
        <hr class="separator">
        <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="more-info">
        Posted: {{ post.date | date_to_string }}<br />
        <a href="{{ post.full_url }}#disqus_thread">0</a> Comments
        </p>
      </div>
      <div class="post-content">
        <hr class="separator">
        <div class="post-inner-content">
          {{ post.content }}
          <div class="social">
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ post.full_url }}" data-text="{{ post.title }}" data-count="horizontal" data-lang="en">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
            <iframe src="http://www.facebook.com/plugins/like.php?href={{ post.full_url }}&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:85px; height:21px;" allowTransparency="true"></iframe> 
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
